<!DOCTYPE html>
<html lang="en",xmlns:th = "http://www.thymeLeaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./RegistrationForm.css">
    <title>HOME</title>
</head>
<body style="background-color: azure;">
   <div class="container">
        <h1 style="font-size:3cm;">WELCOME</h1>

        <div class="c1">
        <h3 style="font-size:0.5cm ;"><a href="/src/main/resources/templates/sign_up.html">REGISTER</a></h3>
        </div>
        <div>
            <h4 style="font-size:0.5cm ;"><a href="/src/main/resources/templates/login.html">LOG IN</a></h4>
        </div>

    
    </div>
</body>
</html>